.profile {

    h2 {
        font-weight: 400;
        text-align: center;
    }

    aside {
        text-align: right;
        padding: 50px 0;
        margin-right: 80px;
        @media only screen and (max-width: 767px) {
            text-align: initial;
            margin-right: 0;
            margin: 0 auto;
            display: block;
        }

        ul {
            li {
                padding: 0 0 0 20px;
                @media only screen and (max-width: 767px) {
                    display: inline-block;
                    vertical-align: top;
                    width: 49%;
                    padding: 0;
                }
                a {
                    display: block;
                    width: 100%;
                    padding: 30px 20px;
                    font-size: 18px;
                    @include transition();
                    &.active, &:hover {
                        background-color: $color-light;
                        color: #fff;
                    }

                    @media only screen and (max-width: 767px) {
                        padding: 20px;
                        border-bottom: 1px solid $color-light;
                        text-align: center;
                    }
                }
            }
        }
    }

    .content {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 250px - 80px - 5px);
        position: relative;

        @media only screen and (max-width: 767px) {
            width: 100%;
        }

        .edit_btn {
            position: absolute;
            right: 0;
            top: 10px;
        }
    }

    .user_info {
        border-bottom: 1px solid $color-light;
        padding-bottom: 20px;
        .row {
            margin-bottom: 20px;
            .title {
                display: inline-block;
                font-weight: 700;
                margin-right: 40px;
                width: 40%;
            }
        }
    }
    
    .user_address {
        padding-top: 20px;

        a {
            text-decoration: none;
        }

        button {
            color: $color-important;
            min-width: auto;
            background-color: unset;
            border: none;
            text-decoration: underline;
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }

        .btn {
            padding: 10px 16px;
        }

        .row {
            margin-bottom: 20px;
            padding: 20px 10px;

            &.hightlight {
                background-color: $color-featured;
            }
            a {
                text-decoration: underline;
            }
            > div {
                margin-bottom: 10px;
                &:last-of-type {
                    margin-bottom: 0;
                }
            } 
        }

        .addr_content {
            .add_addr {
                text-align: right;
                margin-bottom: 20px;
                @media only screen and (max-width: 767px) {
                    text-align: left;
                }
            }

            .num {
                font-weight: 500;
            }

            .action {
                > div {
                    display: inline-block;
                    margin-right: 12px;
                }
            }

            form {
                display: inline-block;
            }

        }
    }
}

#order_history_container {
    max-width: 630px;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}
.text-align-center,
.text-center {
    text-align: center;
}

a#shopping_now {
    background: rgb(17, 132, 252);
    background: linear-gradient(
        140deg,
        rgba(17, 132, 252, 1) 0%,
        rgba(131, 58, 180, 0.8477766106442577) 35%,
        rgba(253, 29, 29, 0.8757878151260504) 75%,
        rgba(252, 176, 69, 1) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.order_heading {
    margin-bottom: 1rem;
}

.order_container {
    padding-bottom: 1rem;
}

.min-width-20 {
    min-width: 18rem;
}

.min-width-40 {
    min-width: 500px;
}

.text-black {
    color: #0a0a0a;
}

.vertical-align-top {
    vertical-align: top;
}

.border-grey {
    border-bottom: 1px solid rgb(227, 227, 227);
}

.text-transform-capitalize {
    text-transform: capitalize;
}

.lh-btn.no-hover.text-transform-capitalize.pending {
    background-color: rgb(6, 87, 122);
}

.lh-btn.no-hover.text-transform-capitalize.confirmed {
    background-color: rgb(7, 101, 18);
}

.lh-btn.no-hover.text-transform-capitalize.delivered {
    background-color: rgb(135, 103, 8);
}

.lh-btn.no-hover.text-transform-capitalize.cancelled {
    background-color: rgb(148, 7, 7);
}

.overflow-x-scroll {
    overflow-x: scroll;
}


.form form button.lh-btn-delete:hover {
    background-color: rgb(213, 9, 9);
    color: rgb(43, 43, 43);
}
